@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --glass-boarder-rds: 7px;
  --glass-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  --blur: blur(2.8px);
  --glass-border: 1px solid;
  --border-image: linear-gradient(
    114.57deg,
    rgba(249, 249, 249, 0.37) 10.15%,
    rgba(254, 254, 254, 0.123906) 80.87%,
    rgba(255, 255, 255, 0.041) 96.09%
  );

  --glass-background: linear-gradient(
    114.57deg,
    rgba(239, 239, 239, 0.25) 4.32%,
    rgba(239, 239, 239, 0.1) 98.87%
  );
}
body {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  background-image: url("assets/Background Waves.png");
  background-repeat: repeat-y;
  margin: 1rem 0;
}

main {
  margin: 2rem 0;
}
form span {
  font-size: 0.7rem;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 50px;
  width: 349px;
  background: var(--glass-background);
  border-radius: var(--glass-boarder-rds);
  box-shadow: var(--glass-shadow);
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: blur(2.8px);
  border: var(--glass-border);
  border-image-source: var(--border-image);
}

.glass-form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  height: 26rem;
  margin: 1rem auto;
  width: 19rem;
  padding-left: 1rem;
  background: var(--glass-background);
  border-radius: var(--glass-boarder-rds);
  box-shadow: var(--glass-shadow);
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: blur(2.8px);
  border: var(--glass-border);
  border-image-source: var(--border-image);
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;
}
input#apply {
  margin-top: 2rem;
  padding: 0.2em 2em;
  font-size: 0.9rem;
  background: linear-gradient(
    112.92deg,
    rgba(0, 231, 51, 0.51) 2.63%,
    rgba(239, 239, 239, 0.1) 95.54%
  );
}
label {
  padding: 0.5rem 0 0.5rem 0;
}

input {
  background: var(--glass-background);
  border-radius: 0.3em;
  box-shadow: var(--glass-shadow);
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: blur(2.8px);
  border: var(--glass-border);
  border-image-source: var(--border-image);
  outline: none;
  color: #ffffff;
}

#accordion {
  display: flex;
  justify-content: center;
}
li {
  list-style: none;
}

.accordion-content {
  display: flex;
  margin: 0.5rem auto 0.7rem;
  background: var(--glass-background);
  border-radius: var(--glass-boarder-rds);
  box-shadow: var(--glass-shadow);
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: blur(2.8px);
  border: var(--glass-border);
  border-image-source: var(--border-image);
}
button.glass {
  font-size: 1.1rem;
  width: 20rem;
  color: #ffffff;
  padding: 1rem;
  text-align: left;
  background: var(--glass-background);
  border-radius: var(--glass-boarder-rds);
  box-shadow: var(--glass-shadow);
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: blur(2.8px);
  border: var(--glass-border);
  border-image-source: var(--border-image);
}
button.glass::after {
  content: url(./assets/acccordion-item.png);
  float: right;
}

.info {
  font-size: 0.8rem;
  min-height: 20rem;
  min-width: 17.4rem;
  margin: 0 0.3rem;
}

hr {
  margin-top: 0.6rem;
}
.acc-item-content {
  padding: 0px 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
