@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  /* 'background' */
  --background-clr: rgba(255, 255, 255, 0.2);
  /*backdropfilter*/
  --backdrop: blur(10px);
  /*border*/
  --border: solid 1px transparent;
  /*background-clip*/
  --background-clip: padding-box;
  --box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
body {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #ffffff;
  background-image: url("assets/Background Waves.png");
  background-repeat: repeat;

  margin: 1rem 0;
}

.callender {
  position: absolute;
  top: 294px;
  right: -53px;
}

main {
  margin: 2rem 0;
}
form span {
  font-size: 0.7rem;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 50px;
  width: 349px;
  background: var(--background-clr);
  border-radius: 14px;
  backdrop-filter: var(--backdrop);
  -webkit-backdrop-filter: blur(40px);
  border: var(--border);
  box-shadow: var(--box-shadow);
  background-clip: var(--background-clip);
}

.glass-form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  height: 28rem;
  margin: 1rem auto;
  width: 19rem;
  padding-left: 1rem;

  background: var(--background-clr);
  border-radius: 20px;
  backdrop-filter: var(--backdrop);
  -webkit-backdrop-filter: blur(40px);
  border: var(--border);
  box-shadow: var(--box-shadow);
  background-clip: var(--background-clip);
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;
}
input#apply {
  margin-top: 1rem;
  padding: 0.2em 2em;
  font-size: 0.9rem;
  background: linear-gradient(
    112.92deg,
    rgba(0, 231, 51, 0.51) 2.63%,
    rgba(239, 239, 239, 0.1) 95.54%
  );
  border-right: 2px;
  border-left: 1px;
}
label {
  padding: 0.5rem 0 0.5rem 0;
}

input {
  background: var(--background-clr);
  border-radius: 5px;
  backdrop-filter: var(--backdrop);
  -webkit-backdrop-filter: blur(40px);
  border: var(--border);
  box-shadow: var(--box-shadow);
  background-clip: var(--background-clip);
  outline: none;
  color: #ffffff;
  padding: 0.2em;
}

#accordion {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
}
li {
  list-style: none;
}

.accordion-content {
  display: flex;
  margin: 0.5rem auto 0.7rem;
  background: var(--background-clr);
  border-radius: 5px;
  backdrop-filter: var(--backdrop);
  -webkit-backdrop-filter: blur(40px);

  box-shadow: var(--box-shadow);
  background-clip: var(--background-clip);
}
button.glass {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  width: 20rem;
  color: #ffffff;
  padding: 1rem;
  text-align: left;
  background: var(--background-clr);
  border-radius: 5px;
  backdrop-filter: var(--backdrop);
  -webkit-backdrop-filter: blur(40px);
  border: var(--border);
  box-shadow: var(--box-shadow);
  background-clip: var(--background-clip);
}
button.glass::after {
  content: url(./assets/acccordion-item.png);
  float: right;
}

button h4 {
  display: inline-block;
}

.info {
  font-size: 0.8rem;
  min-height: 18rem;
  min-width: 17.4rem;
  margin: 0.5rem 0.3rem;
}
.info h3 {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

hr {
  margin-top: 0.6rem;
}
.acc-item-content {
  padding: 0px 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
